.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15%  80%  5%; 
    grid-template-columns:  5fr; 
    border: 1px solid;
    padding: 0;
    margin: 0;
}

header, footer {
    grid-column: span 2;
}

main {
   overflow: auto;
   height: auto;
}

