@font-face {
  font-family: buttonFont;
  src: url("../../../Assets/Fonts/AGENTORANGE.TTF");
}

.VacationsReport {
  height: 100%;
  width: 100%;
}

.VacationsReport .vacations-report-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 800px;
  border-radius: 20px;
  padding: 20px;
}

.VacationsReport .csv-container {
  margin-top: 20px;
}

.VacationsReport .csv-container .csv {
  color: black;
  background-color: gold;
  border-radius: 20px;
  padding: 8px;
  font-family: buttonFont;
}
